BODY {
	BACKGROUND-COLOR: #FFFFFF
}
.tmpstr {
	WORD-BREAK: break-all
}
A:link {
	font-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: blink
}
A:visited {
	font-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	font-SIZE: 9pt; COLOR: #FF6600; BACKGROUND-COLOR: #FFFF00;TEXT-DECORATION: underline
}
A.bb:link {
	font-SIZE: 10pt; COLOR: #ffffff
}
A.bb:visited {
	font-SIZE: 10pt; COLOR: #ffffff
}
A.bb:hover {
	font-SIZE: 10pt; COLOR: #000000; POSITION: relative; TOP: 1px
}
A.s:link {
	font-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: blink
}
A.s:visited {
	font-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: none
}
A.s:hover {
	font-SIZE: 9pt; COLOR: #FF6600; TEXT-DECORATION: none
}
A.right:link {
	font-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: blink
}
A.right:visited {
	font-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none
}
A.right:hover {
	font-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: none
}
A.red:link {
	font-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: blink
}
A.red:visited {
	font-SIZE: 9pt; COLOR: #FF6600; TEXT-DECORATION: none
}
A.red:hover {
	font-SIZE: 9pt; COLOR: #FF6600; TEXT-DECORATION: none
}
A.red:active {
	font-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: none
}
A.bar:link {
	font-SIZE: 13px; COLOR: #000000
}
A.bar:visited {
	font-SIZE: 13px; COLOR: #000000
}
A.bar:hover {
	font-SIZE: 13px; COLOR: #000000; TEXT-DECORATION: underline
}
A.a:link {
	font-WEIGHT: bold; font-SIZE: 14px; COLOR: #333333
}
A.a:visited {
	font-WEIGHT: bold; font-SIZE: 14px; COLOR: #333333
}
A.a:hover {
	font-WEIGHT: bold; font-SIZE: 14px; COLOR: #FF6600; TEXT-DECORATION: underline
}
A.b:link {
	font-WEIGHT: bold; font-SIZE: 12px; COLOR: #ffffff
}
A.b:visited {
	font-WEIGHT: bold; font-SIZE: 12px; COLOR: #ffffff
}
A.b:hover {
	font-WEIGHT: bold; font-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline
}
A.a2:link {
	font-SIZE: 14px; COLOR: #000000
}
A.a2:visited {
	font-SIZE: 14px; COLOR: #000000
}
A.a2:hover {
	font-SIZE: 14px; COLOR: #FF6600; TEXT-DECORATION: underline
}
A.nei:link {
	font-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: none
}
A.nei:visited {
	font-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: none
}
A.nei:hover {
	font-SIZE: 9pt; COLOR: #FF6600; TEXT-DECORATION: underline
}
A.left:link {
	font-SIZE: 9pt; COLOR: #366ab3; TEXT-DECORATION: none
}
A.left:visited {
	font-SIZE: 9pt; COLOR: #366ab3; TEXT-DECORATION: none
}
A.left:hover {
	font-SIZE: 9pt; COLOR: #333333; TEXT-DECORATION: none
}
BODY {
	font-SIZE: 9pt; LINE-HEIGHT: 150%; font-FAMILY: "ו"
}
BODY {
	SCROLLBAR-FACE-COLOR: #efefef; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #dee3e7; SCROLLBAR-3DLIGHT-COLOR: #d1d7dc; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #ededed; SCROLLBAR-DARKSHADOW-COLOR: #cccccc
}
INPUT {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; font-SIZE: 9pt; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; font-FAMILY: "ו"
}
TD {
	MARGIN-TOP: 0px; font-SIZE: 9pt; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 150%
}
.font {
	FILTER: glow(color=#000000,strength=1) dropshadow(color=#aaaaaa,offx=1, offy=1, positive=2); MARGIN: 0px; COLOR: #ffffff; HEIGHT: 20px; TEXT-DECORATION: none
}
.font1 {
	font-SIZE: 10pt; FILTER: glow(color=#ffffff,strength=1); COLOR: #000000; HEIGHT: 12px
}
.font2 {
	font-SIZE: 10pt; FILTER: glow(color=#ffffff,strength=1); COLOR: #000000; HEIGHT: 12px
}
.fontcom {
	font-SIZE: 26pt; FILTER: glow(color=#ffffff,strength=1); COLOR: #000000; HEIGHT: 12px
}
.h {
	MARGIN-TOP: 8px
}
.tdh {
	BACKGROUND-COLOR: #f6f6f6
}
.tdhf {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; WORD-BREAK: break-all; BORDER-BOTTOM: #cccccc 1px dotted; HEIGHT: 22px; BACKGROUND-COLOR: #f7f7f7; BORDER-RIGHT-WIDTH: 1px
}
.tdx {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM: #cccccc 1px dotted; BORDER-RIGHT-WIDTH: 1px
}
.td {
	BORDER-RIGHT: #3366cc 1px solid; BORDER-TOP: #3366cc 1px solid; BORDER-LEFT: #3366cc 1px solid; WORD-BREAK: break-all; BORDER-BOTTOM: #3366cc 1px solid
}
.td0 {
	BORDER-RIGHT: #3366cc 1px solid; BORDER-TOP: #3366cc 1px solid; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT: #3366cc 1px solid
}
.tda {
	BORDER-TOP-WIDTH: 1px; BORDER-RIGHT: #b9ccea 1px solid; BORDER-LEFT: #b9ccea 1px solid; BORDER-BOTTOM: #b9ccea 1px solid
}
.tdb {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT: #3366cc 1px solid; BORDER-BOTTOM: #3366cc 1px solid; BORDER-RIGHT-WIDTH: 1px
}
.tdc {
	BORDER-TOP-WIDTH: 1px; BORDER-RIGHT: #3366cc 1px solid; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM: #3366cc 1px solid
}
.tdd {
	BORDER-RIGHT: #3366cc 1px solid; BORDER-TOP: #3366cc 1px solid; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM: #3366cc 1px solid
}
.tde {
	BORDER-TOP: #3366cc 1px solid; BORDER-LEFT: #3366cc 1px solid; BORDER-BOTTOM: #3366cc 1px solid; BORDER-RIGHT-WIDTH: 1px
}
.td1 {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 26px; BACKGROUND-COLOR: #f9f9f9; BORDER-RIGHT-WIDTH: 1px
}
.td2 {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 32px; BACKGROUND-COLOR: #f9f9f9; BORDER-RIGHT-WIDTH: 1px
}
.td3 {
	font-SIZE: 9pt; BORDER-TOP-STYLE: solid; BORDER-BOTTOM: #0066cc 1px solid; HEIGHT: 26px; BACKGROUND-COLOR: #c4ecff
}
.td4 {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM: #ceddf0 1px solid; HEIGHT: 25px; BACKGROUND-COLOR: #ecf1f9; BORDER-RIGHT-WIDTH: 1px
}
.td5 {
	BORDER-RIGHT: #cc9900 1px solid; BORDER-TOP: #cc9900 1px solid; BORDER-LEFT: #cc9900 1px solid; WORD-BREAK: break-all; BORDER-BOTTOM: #cc9900 1px solid
}
.td6 {
	font-SIZE: 10pt; BACKGROUND-IMAGE: url(../image/d.gif); WIDTH: 22px; COLOR: #ffffff; TEXT-ALIGN: center
}
.tdg {
	font-SIZE: 10pt; WIDTH: 100px; BACKGROUND-COLOR: #ffefdf; TEXT-ALIGN: center
}
.tdxi {
	BACKGROUND-IMAGE: url(../image/xibar.gif); HEIGHT: 25px
}
.tdad {
	BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(../image/bad.jpg); BORDER-BOTTOM: #999999 1px solid; HEIGHT: 25px; BORDER-RIGHT-WIDTH: 1px
}
.tdad2 {
	BORDER-TOP: #999999 1px solid; BORDER-LEFT-WIDTH: 1px; BACKGROUND-IMAGE: url(../image/bad.jpg); BORDER-BOTTOM: #999999 1px solid; HEIGHT: 25px; BORDER-RIGHT-WIDTH: 1px
}
.tdcom {
	font-SIZE: 10pt; BACKGROUND-IMAGE: url(../image/cb.jpg); COLOR: #ffffff; HEIGHT: 38px; TEXT-ALIGN: center
}
.tdcom1 {
	font-SIZE: 10pt; BACKGROUND-IMAGE: url(../image/01_19.jpg); HEIGHT: 30px
}
.tdcom2 {
	BACKGROUND-IMAGE: url(../image/ce.gif); HEIGHT: 30px
}
.tdcom3 {
	font-SIZE: 10pt; BACKGROUND-IMAGE: url(../image/01_16.jpg); HEIGHT: 30px
}
.di {
	PADDING-BOTTOM: 2px; PADDING-TOP: 3px; BORDER-BOTTOM: #dedfde 1px dotted
}
A.a04 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; font-SIZE: 9pt; PADDING-BOTTOM: 6px; MARGIN: auto; WIDTH: 53px; PADDING-TOP: 2px; HEIGHT: 27px; TEXT-DECORATION: none
}
A.a04:hover {
	font-SIZE: 9pt; BACKGROUND-IMAGE: url(../image/button_menu_01_off.gif); TEXT-DECORATION: none
}
